 .code_editor_wrapper {
     flex-grow: 1;
     border-bottom-right-radius: .5rem;
     border-bottom-left-radius: .5rem;
     overflow: hidden;
 }
 .editor_top_titile{ 
        display: flex;
        justify-content: space-between;
        background-color: hsl(225, 6%, 13%);
        color: whitesmoke;
    padding: 10px 20px;
        border-top-right-radius: .5rem;
        border-top-left-radius: .5rem;

 }

 .editor_top_titile>h1 {
   font-size: 21px;
   font-family: cursive;
 }


  .editor-container.collapsed {
   flex-grow: 0;
 }

 .editor-container.collapsed .CodeMirror-scroll {
   position: absolute;
   overflow: hidden !important;
 }


 .expand-collapse-btn {
     margin-left: .5rem;
     background: none;
     border: none;
     color: white;
     cursor: pointer;
 }

 .editor-container {
     flex-grow: 1;
     flex-basis: 0;
     display: flex;
     flex-direction: column;
     padding: .5rem;
     background-color: hsl(225, 6%, 25%);
 }